
[V200R003C00]
#
 sysname R1
#
 board add 0/1 1GEC 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
bfd
#
acl number 2000  
 rule 1 permit source 10.10.10.0 0.0.0.255 
#
acl number 3000  
 rule 1 permit ip source 10.10.10.0 0.0.0.255 destination 200.200.12.1 0 
acl number 3001  
 rule 1 permit ip source 10.10.10.0 0.0.0.255 destination 200.200.13.1 0 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$t'o\(/RD%UP[9#EH5M=V9zLy%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 100.100.13.1 255.255.255.0 
 nat server protocol tcp global 100.100.200.1 www inside 10.10.50.1 www
 nat outbound 2000
#
interface GigabitEthernet0/0/1
 ip address 10.10.30.1 255.255.255.0 
#
interface GigabitEthernet0/0/2
 ip address 10.10.40.1 255.255.255.0 
#
interface GigabitEthernet1/0/0
 ip address 100.100.12.1 255.255.255.0 
 nat server protocol tcp global 100.100.100.1 www inside 10.10.50.1 www
 nat outbound 2000
#
interface NULL0
#
interface LoopBack0
 ip address 1.1.1.1 255.255.255.255 
#
bfd swtofw bind peer-ip 10.10.30.2 interface GigabitEthernet0/0/0 source-ip 100.100.13.1 auto
 commit
#
ospf 1 router-id 1.1.1.1 
 area 0.0.0.0 
#
ip route-static 0.0.0.0 0.0.0.0 100.100.13.2
ip route-static 0.0.0.0 0.0.0.0 100.100.12.2
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
policy-based-route out permit node 3000
 if-match acl 3000
 apply output-interface GigabitEthernet1/0/0  
policy-based-route out permit node 3001
 if-match acl 3001
 apply output-interface GigabitEthernet0/0/0  
#
wlan ac
#
return