
[V200R003C00]
#
 sysname R3
#
 board add 0/4 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
ipv6 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Serial4/0/0
 link-protocol ppp
 ipv6 enable 
 ip address 10.10.43.1 255.255.255.0 
 ipv6 address 2018:43::1/64 
#
interface Serial4/0/1
 link-protocol ppp
 ipv6 enable 
 ip address 10.10.13.2 255.255.255.0 
 ipv6 address 2018:13::2/64 
#
interface GigabitEthernet0/0/0
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/2
#
 link-protocol ppp
#
 link-protocol ppp
#
interface NULL0
#
ip route-static 10.10.100.0 255.255.255.0 10.10.13.1
ip route-static 10.10.200.0 255.255.255.0 10.10.43.2
#
ipv6 route-static 2018:100:: 64 2018:13::1 
ipv6 route-static 2018:200:: 64 2018:43::2 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return