
[V200R003C00]
#
 sysname Router-A
#
 board add 0/1 2SA 
 board add 0/2 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
ipv6 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Ethernet0/0/0
#
interface Ethernet0/0/1
#
interface Ethernet0/0/2
#
interface Ethernet0/0/3
#
interface Ethernet0/0/4
#
interface Ethernet0/0/5
#
interface Ethernet0/0/6
#
interface Ethernet0/0/7
#
interface Serial1/0/0
 link-protocol ppp
 ipv6 enable 
 ip address 10.10.11.1 255.255.255.0 
 ipv6 address 2011::1/64 
 ripng 1 enable
#
interface Serial1/0/1
 link-protocol ppp
#
interface Serial2/0/0
 link-protocol ppp
 ipv6 enable 
 ip address 10.10.12.1 255.255.255.0 
 ipv6 address 2012::1/64 
 ripng 1 enable
#
interface Serial2/0/1
 link-protocol ppp
#
interface GigabitEthernet0/0/0
 ipv6 enable 
 ip address 10.10.7.1 255.255.255.0 
 ipv6 address 2007::1/64 
 ripng 1 enable
#
interface GigabitEthernet0/0/1
#
interface NULL0
#
rip 1
 undo summary
 version 2
 network 10.0.0.0
#
ripng 1
#
ip route-static 10.10.8.0 255.255.255.0 10.10.11.2
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return